body
{
    padding: 50px;
    background-color: grey;
}

.red
{
    background-color: red !important;
}

.red:hover
{
    background-color: rgb(255, 120, 0) !important;
}

.dark-blue
{
    background-color: rgb(0, 118, 205) !important;
}

.blue:hover
{
    background-color: rgb(55, 218, 255) !important;
}

.contact
{
    float: right;
}

.list-contact
{
    float: left;
}

.layout-card
{
    max-width: 800px;
}
